/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/* NAVIGATION */
.navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline-block;
    margin: 10px;
}

.navigation ul li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    color: #333;
    background: #fff;
    border-radius: 50%;
}

/* FULL SECTION */

.full-section {
    position: relative;
    height: 100vh;
}

.full-section .content {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.full-section .content img {
    display: block;
    width: 100%;
}

#first-image {
    background: red;
    color: yellow;
}

#second-image {
    background: green;
    color: yellow;
}

#third-image {
    background: yellow;
    color: green;
}